DB_CONNECTION=json
DB_JSON_PATH=storage/database.json
DB_SQLITE_PATH=storage/database.sqlite
DB_MYSQL_HOST=127.0.0.1
DB_MYSQL_PORT=3306
DB_MYSQL_DATABASE=base
DB_MYSQL_USERNAME=root
DB_MYSQL_PASSWORD=
DB_MYSQL_CHARSET=utf8mb4
DB_PGSQL_HOST=127.0.0.1
DB_PGSQL_PORT=5432
DB_PGSQL_DATABASE=base
DB_PGSQL_USERNAME=postgres
DB_PGSQL_PASSWORD=
APP_TIMEZONE=America/Sao_Paulo
APP_DEBUG=false
AUTH_TOKEN=dev-token
AUTH_TOKENS=
