PHP_PORT=8000

APP_TIMEZONE=America/Sao_Paulo
APP_DEBUG=false
DEV_BEARER_TOKEN=dev-token

DB_CONNECTION=json
DB_JSON_PATH=storage/database.json
DB_SQLITE_PATH=storage/database.sqlite

DB_MYSQL_HOST=mysql
DB_MYSQL_PORT=3306
DB_MYSQL_DATABASE=base
DB_MYSQL_USERNAME=base
DB_MYSQL_PASSWORD=base
DB_MYSQL_CHARSET=utf8mb4
DB_MYSQL_ROOT_PASSWORD=root
MYSQL_PORT=3306

DB_PGSQL_HOST=postgres
DB_PGSQL_PORT=5432
DB_PGSQL_DATABASE=base
DB_PGSQL_USERNAME=base
DB_PGSQL_PASSWORD=base
POSTGRES_PORT=5432
